.clients-content {
  width: 50%;
  float: left;
  height:80vh;
  border-right: 1px solid #F2F2F0;
  padding: 0px 20px;
  overflow: auto;
  font-family: 'Roboto', sans-serif;
}

.h2_dashboard {
  color: #1B3C59;
  font-weight: 100;
  font-family: 'Roboto', sans-serif !important;
}

.client-info-content {
  color: #1B3C59;
  font-weight: 500;
}

hr {
  margin-bottom: 0px;
}
