#clients-filters {
  display:flex;
  flex-direction: row;
  border-bottom: 1px solid #F2F2F0;

  .clients-filter {
    padding-bottom: 2px;
  }
  .clients-filter.active, :hover {
    font-weight:700;
    border-bottom:3px solid #11BFAE;
    transition:none !important;
  }
}
.clients-list {
  width: 300px;
  top: 0;
  float:left;
  left: 0;
  height: 100vh;
  overflow: scroll;
  padding:20px;
  height:80vh;
  border-right:1px solid #F2F2F0;
  .search-bar input {
    width: 100%;
    border-radius: 5px;
    margin-bottom:20px;
  }
  .client-small-card {
    padding: 15px 5px;
    cursor:pointer;
    margin-left: -20px;
    margin-right: -20px;
    .phone-number {
      text-align: right;
      color: #456173;
      font-size: 10px;
      padding-top: 4px;
    }
  }
  .client-small-card:hover {
    background-color: #456173;
    color:white !important;
    transition:0.6s ease;
    .phone-number {
      color:white !important;
      transition:0.6s ease;
    }
  }

}

.clients-content {
  width: 50%;
  float: left;
  height:80vh;
  border-right: 1px solid #F2F2F0;
}


