.input-blue {
  // border-radius: 19px;
  // border: 1px solid #1B3C59;
  // padding: 5px 10px;
  display:flex;
  color:#1B3C59;
  height: 33px;
  margin-bottom:20px;
  .icon {
    padding: 5px 12px 3px 12px;
    background: #1B3C59;
    border-radius: 2px 0 0 2px;
    color: white;
    text-align:center;
    border: 1px solid #1B3C59;
    transition: 0.3s ease-in-out;
    width:40px;
  }
  .text {
    width: 100%;
    border-radius: 0 2px 2px 0;
    border: 1px solid #1B3C59;
    text-align:left;
    transition: 0.3s ease-in-out;
    input {
      height:30px;
      border-radius:0;
      font-family: 'Roboto', sans-serif;
      color:#1B3C59;
      font-weight:300;
    }
    select {
      height:30px;
      border-radius:0;
      font-family: 'Roboto', sans-serif;
      color:#1B3C59;
      font-weight:300;
    }
  }
  a:hover {
    color:white;
    transition: 0.3s ease-in-out;
  }
}

.icon-back {
  color: #1B3C59;
  margin-top: 15px;
}

.icon-blue {
  color: #1B3C59;
}

.categorie-design {
  .form-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  span.radio {
    position:relative;
    flex: 0 0 45%;
    input {
      position:absolute;
      opacity:0;
    }
    label {
      background: white;
      width: 100%;
      padding: 5px 10px;
      border-radius: 2px;
      border: 1px solid #1B3C59;
      color: #1B3C59;
      font-weight: 300;
      text-align: center;
    }
  }
  .radio + .radio {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  span.radio.checked {
    label {
      background: #1B3C59;
      border: 1px solid #1B3C59;
      color: white;
    }
  }
}

.btn-submit-blue {
  text-align: center;
  color: #1B3C59;
  text-transform:none;
  background:transparent;
  padding:0;
  margin:0;
  border-radius:0;
  box-shadow:inset 0px -6px 0px rgba(17, 191, 174, 0.25);
  transition:0.3s ease;
}

.btn-submit-blue:hover {
  text-align: center;
  color: #1B3C59;
  text-transform:none;
  background:transparent;
  padding:0;
  margin:0;
  border-radius:0;
  box-shadow:inset 0px -24px 0px rgba(17, 191, 174, 0.25)
}

.btn-submit-blue-vertical-align {
  text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

#message-error {
  font-size: 10px;
  color: #E91E63;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
}




input.form-error {
  color:#E91E63 !important;
}
















