<div class="row">
  <div class="col-md-12">
    <div class="card-dashboard-content">
      <p class="client-info">Heures facturées du mois : <span class="client-info-content"><%= @dossiers.count * 6 %></span></p>
    </div>
  </div>
</div>
