<div id="clients-filters" class="padding-left-20px">
  <a href="#" class="clients-filter active">Ordre alpahabétique</a>
  &nbsp; &nbsp; &nbsp;
  <a href="#">Urgent</a>
  &nbsp; &nbsp; &nbsp;
  <a href="#">Prospects</a>
</div>
