<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="index.html" class="logo-white-navbar">Legali<span class="blue">.</span>io<!-- <img src="img/logo.svg" alt="Logo"> --></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#pricing" class="scroll">Notre offre</a></li>
        <% if user_signed_in? %>
          <li><a href="#" class="sign-in-btn">Mon compte</a></li>
          <li><%= link_to destroy_user_session_path, method: :delete do %><%= t(".sign_out", default: "Quitter") %>
              <% end %>
            </li>
        <% else %>
          <li><%= link_to t(".sign_in", default: "Se connecter"), new_user_session_path, class: "sign-in-btn" %></li>
        <% end %>
      </ul>
    </div><!--/.navbar-collapse -->
  </div>
</div>
