<div class="wrapper dashboard-wrapper">
  <div class="container dashboard-container">
    <%= render partial: 'shared/vertical_navbar' %>
    <div class="content-right">
        DASHBOARD & ANALYTICS & AGENDA
    </div>
  </div>
</div>


