<div class="row">
  <%= simple_form_for @item do |f| %>
  <div class="col-md-9">
    <div class="input-blue input-dashboard">
      <div class="text list-input"><%= f.input :content, label: false, id:'item-input' %></div>
    </div>
  </div>
  <div class="col-md-3">
    <%= f.submit "Add", class: "btn btn-default btn-submit-blue", id:'item-submit' %>
  </div>
  <% end %>
</div>
