.input-login {
  margin: 20px 80px;
}

.log-in {
  background-color: white !important;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: #1B3C59 !important;
}

.btn-modal-center {
  margin: 20px auto !important;
  display: block;
}
